#pykrx

https://github.com/sharebook-kr/pykrx

pip install pykrx

In [1]:
from pykrx import stock
from pykrx import bond

KOSDAQ 일때

tickers = stock.get_index_ticker_list(market='KOSDAQ')

In [4]:
for ticker in stock.get_index_ticker_list():
    print(ticker, stock.get_index_ticker_name(ticker))

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1022 은행
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

In [6]:
df = stock.get_index_ohlcv("20080102", "20080108", "1001")
df

코스피,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2008-01-02,1891.45,1892.50,1852.78,1853.45,247085903,4536509020354,929976274544925
2008-01-03,1834.44,1858.08,1821.61,1852.73,253668393,4534043335302,929548593390150
2008-01-04,1853.54,1869.76,1824.41,1863.90,299084449,5651996984858,934853851304415
2008-01-07,1815.73,1840.99,1814.35,1831.14,268129758,5303419231388,918362009837250
2008-01-08,1838.64,1840.62,1818.69,1826.23,296573522,5356821646904,915751030935930

컬럼명 일부만 변경할때

df2 = df2.rename(columns={df2.columns[0]: 'close', df2.columns[1]: 'open', df2.columns[2]})

In [8]:
df = stock.get_index_ohlcv("20080102", "20080108", "1001")
df1 = df.iloc[:, 0:5]
print(df1)
df2= df.reindex(columns=['종가', '시가', '고가', '저가','거래량'])
df2.columns.values[0:5] =["close", "open", "high", "low", "volume"]
df2

코스피              시가       고가       저가       종가        거래량
날짜
2008-01-02  1891.45  1892.50  1852.78  1853.45  247085903
2008-01-03  1834.44  1858.08  1821.61  1852.73  253668393
2008-01-04  1853.54  1869.76  1824.41  1863.90  299084449
2008-01-07  1815.73  1840.99  1814.35  1831.14  268129758
2008-01-08  1838.64  1840.62  1818.69  1826.23  296573522

코스피           close     open     high      low     volume
날짜
2008-01-02  1853.45  1891.45  1892.50  1852.78  247085903
2008-01-03  1852.73  1834.44  1858.08  1821.61  253668393
2008-01-04  1863.90  1853.54  1869.76  1824.41  299084449
2008-01-07  1831.14  1815.73  1840.99  1814.35  268129758
2008-01-08  1826.23  1838.64  1840.62  1818.69  296573522